
.app {
  background: url('./bg.png');
}
.app h1, .app h3, .app h4, .app p, .app span, .app ul {
  background-color: whitesmoke; 
}
.app p {
  font-family: 'MyFont';
  color: blue;
}
.app span {
  font-family: 'MyFont';
    color: green;
}
.app ul {
  font-family: 'MyFont';
    color: red;
}